maptool.egg-info
*.o
*.so
*.pyc
*.swp
*.swo
*.pyd
maptool/tests
maptool/*log
dist
_build
build
.project
.pydevproject
.settings
.externalToolBuilders
.idea
setuptools*
.ipynb_checkpoints
.cache
.tox
*.log
.coverage
.tests
